{% extends "base.html" %} {% block content %}
<h1 class="title">
    Welcome, {{ name }}!
</h1>
<h2 class="subtitle">
    Upload your audio to visualise it
</h2>
<div class="control">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class = "form-group">
            <legend class = "border-bottom mb-4">Upload Audio</legend>
            <div class="form-group">
                {{ form.audiofile.label() }}
                {{ form.audiofile(class="form-control-file") }}
                {% if form.audiofile.errors %}
                    {% for error in form.audiofile.errors %}
                        <span class="text-danger">{{ error }}</span></br>
                    {% endfor %}
                {% endif %}
            </div>
        </fieldset>
        <div class = "form-group">
            {{ form.submit() }}
        </div>
    </form>
</div>
{% endblock %}